.exercise-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  
}

.exercise-form h2 {
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form-control label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control select,
.form-control input,
.form-control textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
}
.form-control select:focus,
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #114366;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}